* {
  margin: auto;
  margin-top: 2%;

}

body{
    background-color: rgb(202, 224, 202);
}
.box {
  width: 800px;
  height: 500px;

  overflow: hidden;
  position: relative;
  box-shadow: 7px 10px 25px black;
   border-radius: 25px;
}

.slide {
  width: 100%;
  margin: 0;
  height: 100%;
  display: flex;
  transition: 1s ease;
  position: relative;
 
}
.image {
  height: 100%;
  margin: 0;
  width: 100%;

  object-fit: cover;
  cursor: pointer;
}

.box button{
     
    font-size: 25px;
  position: absolute;
  top: 40%;
  cursor: pointer;
    border: none;
  background: none;
  color: rgb(243, 236, 224);
}
.box button:hover{
    background-color: rgb(221, 166, 13);
    transition: 0.5s ease;
}
.right {
  right: 0;
 
 
}

.gol {
  display: flex;
  width: 200px;
}

.circle {
  height: 15px;
  width: 15px;
  border: 1px solid black;
  border-radius: 50%;
  cursor: pointer;
}
